@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap");
@font-face {
  font-family: "UTM";
  src: url("../font/UTMAlpineKT.eot");
  /* IE9 Compat Modes */
  src: url("../font/UTMAlpineKT.woff") format("woff"), url("../font/UTMAlpineKT.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "UTMAquare";
  src: url("../font/UTMAquarelle.eot");
  src: url("../font/UTMAquarelle.woff") format("woff"), url("../font/UTMAquarelle.ttf") format("truetype");
}
@font-face {
  font-family: "Lobster";
  src: url("../font/LobsterTwo.eot");
  src: url("../font/LobsterTwo.woff") format("woff"), url("../font/LobsterTwo.ttf") format("truetype");
}
@font-face {
  font-family: "UVFAphrodite";
  src: url("../font/UVFAphroditePro.eot");
  src: url("../font/UVFAphroditePro.woff") format("woff"), url("../font/UVFAphroditePro.ttf") format("truetype");
}
@font-face {
  font-family: "Blenda";
  src: url("../font/BlendaScript.eot");
  src: url("../font/BlendaScript.woff") format("woff"), url("../font/BlendaScript.ttf") format("truetype");
}
@font-face {
  font-family: "UTM";
  src: url("../font/UTMAlpineKT.eot");
  /* IE9 Compat Modes */
  src: url("../font/UTMAlpineKT.woff") format("woff"), url("../font/UTMAlpineKT.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "UTMAquare";
  src: url("../font/UTMAquarelle.eot");
  src: url("../font/UTMAquarelle.woff") format("woff"), url("../font/UTMAquarelle.ttf") format("truetype");
}
@font-face {
  font-family: "Lobster";
  src: url("../font/LobsterTwo.eot");
  src: url("../font/LobsterTwo.woff") format("woff"), url("../font/LobsterTwo.ttf") format("truetype");
}
@font-face {
  font-family: "UVFAphrodite";
  src: url("../font/UVFAphroditePro.eot");
  src: url("../font/UVFAphroditePro.woff") format("woff"), url("../font/UVFAphroditePro.ttf") format("truetype");
}
@font-face {
  font-family: "Blenda";
  src: url("../font/BlendaScript.eot");
  src: url("../font/BlendaScript.woff") format("woff"), url("../font/BlendaScript.ttf") format("truetype");
}
.poster {
  padding-top: 32px;
}
.poster__title {
  font-size: 1.4rem;
  color: #959595;
  margin-bottom: 37px;
}
.poster__title span {
  color: #e6ae48;
}

.poster__title {
  margin-bottom: 10px;
}
.poster__name {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.poster img {
  width: 65px;
  height: 10px;
  object-fit: scale-down;
  margin-top: 5px;
}

.poster__title {
  margin-bottom: 25px;
}
.poster__btn {
  display: flex;
  justify-content: space-between;
}
.poster__btn a {
  font-size: 1.4rem;
  padding: 10px 33px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.signup {
  padding: 30px 0 100px 0;
}
.signup__box {
  padding: 40px 65px;
  border: 1px solid #e7e7e7;
}
.signup__box-title {
  margin-bottom: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.signup__box-input {
  display: flex;
}
.signup__box-input input {
  width: 100%;
  height: 28px;
  border: 1px solid #e7e7e7;
}
.signup__box-input p {
  font-size: 1.4rem;
  width: 85px;
}
.signup__box-input:nth-child(n+3) {
  margin-top: 27px;
}
.signup__box-input.-confir p {
  width: initial;
  white-space: nowrap;
  margin-right: 15px;
}
.signup__box-input.-check {
  align-items: center;
  margin-bottom: 33px;
  margin-top: 16px;
}
.signup__box-input.-check input {
  width: initial;
  margin-left: 11%;
}
.signup__box-input.-check label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 7px;
}
.signup__box-send {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.signup__box-send button {
  color: #d1d1d1;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #000000;
  border: none;
}
.signup__box-send button:nth-child(1) {
  margin-right: 10px;
}

/*# sourceMappingURL=signup.css.map */
