@use 'mixin' as mx;
@import 'variable';
@include mx.setPoster();
@include mx.setPoster1();
.poster{
        &__title{
            margin-bottom: $px25;
        }
}
.cart{
    padding-top: $px32;
    table{
        text-transform: uppercase;
        background-color: $color-secondary;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        td,th{
            border: $px1 solid $color-border;
            padding: $px10 0;
            font-size: $r-1-4;
        }
        tr{
            td{
                &:nth-child(1){
                    width: $px190;
                }
                &:nth-child(3),&:nth-child(5){
                    color: $color-gold;
                    width: $px160;
                    p{
                        position: relative;
                        span{
                            text-transform: lowercase;
                            font-size: $px7;
                            position: absolute;
                            top:0;
                            left: 65%;
                        }
                    }
                }
            }
        }
        img{
            width: 145px;
            height: 148px;
            object-fit: scale-down;
            display: block;
            margin: 0 auto;
        }
    }
    &__btn{
        display: flex;
        justify-content: flex-end;
        margin-top: $px20;
        margin-bottom: $px90;
        button{
            background-color: $color-black;
            border: none;
            font-size: $r-1-1;
            text-transform: uppercase;
            color: $color-white;
            padding: $px5 $px10;
            &:nth-child(-n+2){
                margin-right: $px15;
            }
            &:hover{
                background-color: $color-gold;
            }
        }
    }
}