extends pug/layout
block css
    link(href="./css/introduce.css" rel="stylesheet")
    block cssProduct
block content
    section.poster 
        .container
            p.poster__title Trang chủ / 
                span Giới thiêu
            p.poster__name Giới thiệu 
            img(src="img/titleleft-dark.png")
    section.introduce 
        .container 
            .introduce__img 
                img(src="./img/bg-3.jpg")
            .introduce__content 
                p.introduce__content-name chào mừng đến wine house
                p.introduce__content-text 
                    span Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,
                    span sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...