footer 
    .container 
        img.logo(src="../img/logo.png")
        .contact-us
            +loadOurInfo(contacUs)
.subfooter 
    .container
        p  &copy; Copyright 2008-2014 DKT Technology JSC
        .subfooter__card 
            a(href="#")
                img(src="../img/004-mastercard.png")
            a(href="#")
                img(src="../img/001-visa-pay-logo.png")
            a(href="#")
                img(src="../img/002-paypal.png")
            a(href="#")
                img(src="../img/003-mastercard-1.png")