include mixin 
include database
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="fontawesome/css/all.min.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        block css
    body
        include header
        block content
        include footer